/* Css sur toute la page */
html {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    font-family: 'Exo', sans-serif;
}
/* modifie le bloc du haut */
header {
    
    background-color: #CCCCCC ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}
/* centre le texte d'accueil et l'image home */
header h1{
    text-align: left;
}
/*modifie le bloc centrale avec une taille mini de 500 px */
section {
    min-height: 500px;
    margin-top: 20px;
    background-color: #CCCCCC ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
}
/* modifie le footer */
footer {
    margin-top: 20px;
    background-color: #CCCCCC ;
    border-radius: 20px;
    padding: 15px;
}
img{
    width: 10%;
    height: auto;
}
article {
    text-align: right;
}
tr {
    text-align: left;
    font-style: italic;
}
tr th {
    color: white;
}
header a:link {
    color: blue;
    }
    
    header a:visited {
    color: purple;
    }
    
    header a:hover {
    background: yellow;
    }
    
    header a:active {
    color: red;
    }
    
    header p:active {
    background: #EEE;
    }