/* Css sur toute la page */
html {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}
/* modifie le bloc du haut */
header {
    background-color: #CCCCCC ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}
header h1 {
    text-align: left;
}
/*modifie le bloc centrale */
section {
    margin-top: 20px;
    background-color: #CCCCCC ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;

}
/* modifie le footer */
footer {
    margin-top: 20px;
    background-color: #CCCCCC ;
    border-radius: 20px;
    padding: 15px;


}