/* Css sur toute la page */
html {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    font-family: 'Exo', sans-serif;
}
/* modifie le bloc du haut */
header {
    
    background-color: #CCCCCC ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}
/* centre le texte d'accueil et l'image home */
header h1{
    text-align: left;
}
/*modifie le bloc centrale avec une taille mini de 500 px */
section {
    min-height: 500px;
    margin-top: 20px;
    background-color: #CCCCCC ;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
}
/* modifie le footer */
footer {
    margin-top: 20px;
    background-color: #CCCCCC ;
    border-radius: 20px;
    padding: 15px;
}
img {
    width: 10%;
    height: auto;
}
th {
    text-align: left;
    color: white;
}

/* by Sicca & Sifu */
/* menu rollhover */

a:hover {
    background-color: darkslategray;
    color: white;
}

a:active {
    background-color: darkslategray;
    color: white;
}
